/* COLMARACADEMY */

/* HEADER SECTION */

html{
  font-size: 16px;
}

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,600,700,900');


.header{
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  height: 4rem;
  margin: 0 1.5rem;
  align-items: baseline;
}

.logo h1, img{
  display: inline;
  vertical-align: middle;
}

.logo img{
  height: 4rem;
  width: 4rem;
  vertical-align: middle;
}

.nav li{
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  padding: 1rem;
  color: rgb(75, 76, 81);
}

.header h1{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: rgb(176, 181, 196);
    font-size: 2.375rem;
  }

span{
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: rgb(75, 76, 81);
}
